
html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
  margin: 0;
  padding: 0;
}


#backgroundHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;
}

#topBalk .logoHolder .logo {
  background: url("images/favicon.png") !important;
  background-size: auto 100% !important;
  margin-top: -1px;
  width: 26px !important;
  height: 26px !important;
}

#topBalk .logoHolder .text:before {
  content: 'JLP';
  font-size: 18px;
}
#topBalk .logoHolder div.text {
  margin-left: 6px !important;
  font-size: 0;
}






#mainContent {
  position: relative;
  top: 20px;
  margin: auto;
  width: 100vw;
  height: calc(100vh - 20px);
}

#mainContent .page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: all .3s;
}

#mainContent .page .pageContent {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 100%;
  overflow-y: auto;
  overflow-x: show;
}




#mainContent .page.hide {
  transform: scale(.8);
  opacity: 0;
  pointer-events: none;
}



.page .levelHolder {
  position: relative;
  margin-top: 20px;
  width: calc(100% - 20px * 2);
  padding: 20px;
}


  .page .levelHolder .levelText {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;;
  }
  .page .levelHolder .progressBar {
    position: relative;
    display: flex;
    width: calc(100% - 2px);
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    overflow: hidden;
  }

    .levelHolder .progressBar .back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: linear-gradient(to right, rgba(0, 0, 255, .25), rgba(255, 0, 0, .25));
      color: #fff;
    }

    .levelHolder .progressBar .front {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      color: rgb(200, 177, 207);

      clip-path: inset(0 0 0 0%);
      -webkit-clip-path: inset(0 0 0 0%);
      transition: clip-path 1s linear;
    }







.page #basketHolder.panel {
  position: relative;
  width: calc(100% - 40px * 2);
  background: linear-gradient(to right, rgba(0, 0, 255, .25), rgba(255, 0, 0, .25));
}

.page #basketHolder.panel .basket {
  position: relative;
  float: left;
  width: calc(20% - 5px * 2);
  padding: 5px;
}

.page #basketHolder.panel .basket .title {
  font-size: 28px;
  text-align: center;
  color: #fff;
}
.page #basketHolder.panel .basket .subText {
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: .8;
}







.page .topBar {
  position: relative;
  float: left;
  left: 0;
  top: -6px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  z-index: 100;

  padding: 10px 0;

  text-align: center;
  background: #fff;
  margin-bottom: -44px;
}

.page .topBar img.homeButton {
  position: relative;
  left: 0;
  float: left;
  
  height: 22px;
  width: auto;
  padding: 14px;
  margin: -10px;
  margin-left: 25px;
  z-index: 1000;
}

.page .topBar .text.scoreHolder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
}











#mainContent .page .questionHolder {
  position: relative;
  margin: auto;
  margin-top: 30vh;
  width: auto;
  text-align: center;
}
#mainContent .page .questionHolder.img {
  height: 90px;
}

#mainContent .page .questionHolder a {
  font-size: 60px;
  border-bottom: 2px solid rgba(140, 140, 205, .4);
}

#mainContent .page .questionHolder a img {
  width: auto;
  height: 68px;  
  padding-bottom: 5px;
}

#mainContent .page .questionTypeHolder {
  position: relative;
  margin: auto;
  margin-top: 10px;
  
  height: 20px;
  width: auto;
  text-align: center;
  opacity: .7;
}


#mainContent .page .smallInfoPanelHolder {
  position: absolute;
  left: 0;
  bottom: 20vh;
  width: 100%;
  
  display: flex;
  pointer-events: none;
}

#mainContent .page .smallInfoPanelHolder .panel.smallInfoPanel {
  position: relative;
  float: none;
  margin: auto;
  width: auto;

  pointer-events: all;
  color: #fff;
  transition: all .3s;
}

#mainContent .page .smallInfoPanelHolder.hide .panel.smallInfoPanel {
  transform: scale(.8);
  opacity: 0;
  pointer-events: none;
}



#mainContent .page.reviewPage .inputField {
  position: relative;
  top: 20px;
  left: calc(25% - 3px);
  width: 50%;
  margin: auto;
  height: 50px;

  text-align: center;
  font-size: 20px;

  background: #fff;
  box-shadow: 3px 3px 12px 8px rgba(100, 100, 165, .1);
  
  transition: all .3s;
}

#mainContent .page.reviewPage .inputField.answerIncorrect {
  color: #f00;
  background: rgb(255, 220, 220);
  animation: inputHolder_inputDenied .3s 3;
  animation-fill-mode: forwards;
}
#mainContent .page.reviewPage .inputField.answerCorrect {
  color: #0f0;
  background: rgb(200, 255, 220);
}

#mainContent .page.reviewPage .progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: rgba(140, 140, 205, .8);
  transition: width .3s;
}

@keyframes inputHolder_inputDenied {
    0% {
        margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    66% {
      margin-left: -3%;
    }
    83% {
      margin-left: 3%;
    }
    100% {
      margin-left: 0;
    }
}














#mainContent .page.lessonPage .topBar .wordNavigator {
  position: absolute;
  top: 0;
  width: 100%;
}
#mainContent .page.lessonPage .topBar .wordNavigator .wordButton {
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.arrowButton {
  position: relative;
  top: 3px;

  font-size: 30px;
  line-height: 40px;
  margin: 0 -5px;
  
  background: none;
  color: #bbb;
}


#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.disabled {
  background: #444;
  pointer-events: none;
  opacity: .3;
}
#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.disabled.arrowButton {
  background: none;
}










#mainContent .page .panel.infoPanel {
  position: absolute;
  top: calc(224px + 30vh + 10px);

  left: calc(15% - 10px + 3px);
  width: calc(70% - 10px * 2 - 3px * 2);
  max-height: calc(100vh - (224px + 30vh + 30px) - 20px * 2);

  overflow-y: auto;
  overflow-x: hidden;

  background: #fff;
  margin: auto;
  transition: all .3s;
}
#mainContent .page .infoPanel.hide {
  top: calc(224px + 30vh + 10px + 10vh);
  opacity: 0;
  transform: scale(.8);
  pointer-events: none;
}

#mainContent .page .infoPanel .title.highLightType.img {
  position: relative;
  top: -4px;
}
#mainContent .page .infoPanel .title.highLightType.img img {
  margin-top: 9px;
  margin-bottom: -3px;
  height: 25px;
  width: auto;
}

#mainContent .page .infoPanel .infoTextHolder {
  margin-top: 10px;
}
#mainContent .page .infoPanel .keyValuePair.hide {
  display: none;
}











#navigationHolder {
  width: 100%;
}

#navigationHolder .panel {
  width: calc(50% - 20px * 2 - 20px * 2);
  height: 90px;

  background: url("images/background.png");
  background-size: 100% 100%; 
}
#navigationHolder .panel.disabled {
  pointer-events: none;
  filter: grayscale(1);
}















