
html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
}


#backgroundHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;

}

#topBalk .logoHolder {
  display: none;
}








#mainContent {
  position: relative;
  top: 0;
  margin: auto;
  width: 100vw;
  max-width: 700px;

  height: calc(100vh);
}

#mainContent .page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  transition: all .3s;
}

#mainContent .page.hide {
  transform: scale(.8);
  opacity: 0;
  pointer-events: none;
}

.page .topBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  text-align: center;;
}







#mainContent .page .questionHolder {
  position: relative;
  margin: auto;
  margin-top: 30vh;


  width: auto;
  text-align: center;
}

#mainContent .page .questionHolder a {
  font-size: 60px;
  border-bottom: 2px solid rgba(140, 140, 205, .4);
}

#mainContent .page .questionTypeHolder {
  position: relative;
  margin: auto;
  margin-top: 10px;
  
  height: 20px;
  width: auto;
  text-align: center;
  opacity: .7;
}

#mainContent .page.reviewPage .inputField {
  position: relative;
  top: 20px;
  left: calc(25% - 3px);
  width: 50%;
  margin: auto;
  height: 50px;

  text-align: center;
  font-size: 20px;

  background: #fff;
  box-shadow: 3px 3px 12px 8px rgba(100, 100, 165, .15);
  
  transition: all .3s;
}

#mainContent .page.reviewPage .inputField.answerIncorrect {
  color: #f00;
  background: rgb(255, 220, 220);
  animation: inputHolder_inputDenied .3s 3;
  animation-fill-mode: forwards;
}
#mainContent .page.reviewPage .inputField.answerCorrect {
  color: #0f0;
  background: rgb(200, 255, 220);
}

#mainContent .page.reviewPage .progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: rgba(140, 140, 205, .8);
  transition: width .3s;
}

@keyframes inputHolder_inputDenied {
    0% {
        margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    66% {
      margin-left: -3%;
    }
    83% {
      margin-left: 3%;
    }
    100% {
      margin-left: 0;
    }
}






#mainContent .page .panel.infoPanel {
  position: absolute;
  float: bottom;
  bottom: 100px;

  left: calc(15% - 10px + 3px);
  width: calc(70% - 10px * 2 - 3px * 2);
  /* padding-top: 10px; */

  background: #fff;
  margin: auto;
  transition: all .3s;
}
#mainContent .page .infoPanel.hide {
  bottom: 0;
  opacity: 0;
  transform: scale(.8);
  pointer-events: none;;
}

#mainContent .page .infoPanel .infoTextHolder {
  margin-top: 10px;
}









#navigationHolder {
  width: 100%;
}

#navigationHolder .panel {
  width: calc(50% - 20px * 2 - 20px * 2 - 4px);
  height: 90px;

  background: url("/pictures/background_front.png");
  background-size: 100% 100%; 
}















