
html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
}


#backgroundHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;

}

#topBalk .logoHolder {
  display: none;
}








#mainContent {
  position: relative;
  top: 0;
  margin: auto;
  width: 100vw;
  /* max-width: 700px; */

  height: calc(100vh);
}

#mainContent .page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: all .3s;
}
/* #mainContent .page:not(.fullWidth) { */

/* } */
#mainContent .page .pageContent {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}




#mainContent .page.hide {
  transform: scale(.8);
  opacity: 0;
  pointer-events: none;
}

.page .topBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  z-index: 100;

  text-align: center;
}

.page .topBar img.homeButton {
  position: fixed;
  left: 0;
  float: left;
  
  height: 22px;
  width: auto;
  padding: 15px;
  margin: 5px;
  margin-top: 0;
  margin-left: 15px;
  z-index: 1000;
}







#mainContent .page .questionHolder {
  position: relative;
  margin: auto;
  margin-top: 30vh;
  width: auto;
  text-align: center;
}

#mainContent .page .questionHolder a {
  font-size: 60px;
  border-bottom: 2px solid rgba(140, 140, 205, .4);
}
#mainContent .page .questionHolder.img a {
  line-height: 88px;
}

#mainContent .page .questionHolder a img {
  width: auto;
  height: 68px;  
}

#mainContent .page .questionTypeHolder {
  position: relative;
  margin: auto;
  margin-top: 10px;
  
  height: 20px;
  width: auto;
  text-align: center;
  opacity: .7;
}


#mainContent .page .smallInfoPanelHolder {
  position: absolute;
  left: 0;
  bottom: 20vh;
  width: 100%;
  
  display: flex;
  pointer-events: none;
}

#mainContent .page .smallInfoPanelHolder .panel.smallInfoPanel {
  position: relative;
  float: none;
  margin: auto;
  width: auto;

  pointer-events: all;
  color: #fff;
  transition: all .3s;
}

#mainContent .page .smallInfoPanelHolder.hide .panel.smallInfoPanel {
  transform: scale(.8);
  opacity: 0;
  pointer-events: none;
}



#mainContent .page.reviewPage .inputField {
  position: relative;
  top: 20px;
  left: calc(25% - 3px);
  width: 50%;
  margin: auto;
  height: 50px;

  text-align: center;
  font-size: 20px;

  background: #fff;
  box-shadow: 3px 3px 12px 8px rgba(100, 100, 165, .1);
  
  transition: all .3s;
}

#mainContent .page.reviewPage .inputField.answerIncorrect {
  color: #f00;
  background: rgb(255, 220, 220);
  animation: inputHolder_inputDenied .3s 3;
  animation-fill-mode: forwards;
}
#mainContent .page.reviewPage .inputField.answerCorrect {
  color: #0f0;
  background: rgb(200, 255, 220);
}

#mainContent .page.reviewPage .progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: rgba(140, 140, 205, .8);
  transition: width .3s;
}

@keyframes inputHolder_inputDenied {
    0% {
        margin-left: 0;
    }
    50% {
      margin-left: 0;
    }
    66% {
      margin-left: -3%;
    }
    83% {
      margin-left: 3%;
    }
    100% {
      margin-left: 0;
    }
}














#mainContent .page.lessonPage .topBar .wordNavigator {
  margin-top: 3px;
}
#mainContent .page.lessonPage .topBar .wordNavigator .wordButton {
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.arrowButton {
  position: relative;
  top: 3px;

  font-size: 30px;
  line-height: 40px;
  margin: 0 -5px;
  
  background: none;
  color: #bbb;
}


#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.disabled {
  background: #444;
  pointer-events: none;
  opacity: .3;
}
#mainContent .page.lessonPage .topBar .wordNavigator .wordButton.disabled.arrowButton {
  background: none;
}










#mainContent .page .panel.infoPanel {
  position: absolute;
  top: calc(224px + 30vh + 10px);

  left: calc(15% - 10px + 3px);
  width: calc(70% - 10px * 2 - 3px * 2);
  max-height: calc(100vh - (224px + 30vh + 30px) - 20px * 2);

  overflow-y: auto;
  overflow-x: hidden;

  background: #fff;
  margin: auto;
  transition: all .3s;
}
#mainContent .page .infoPanel.hide {
  top: calc(224px + 30vh + 10px + 10vh);
  opacity: 0;
  transform: scale(.8);
  pointer-events: none;
}

#mainContent .page .infoPanel .title.highLightType.img {
  position: relative;
  top: -4px;
}
#mainContent .page .infoPanel .title.highLightType.img img {
  margin-top: 9px;
  margin-bottom: -3px;
  height: 25px;
  width: auto;
}

#mainContent .page .infoPanel .infoTextHolder {
  margin-top: 10px;
}
#mainContent .page .infoPanel .keyValuePair.hide {
  display: none;
}











#navigationHolder {
  width: 100%;
}

#navigationHolder .panel {
  width: calc(50% - 20px * 2 - 20px * 2 - 4px);
  height: 90px;

  background: url("images/background.png");
  background-size: 100% 100%; 
}
#navigationHolder .panel.disabled {
  pointer-events: none;
  filter: grayscale(1);
}















